<div class="row pad pad-down parallax-window" data-parallax="scroll" data-image-src="<%= image_path("5130.jpg") %>">
  <div class="col-md-12 col-sm-12 text-center">
            <h1 class="head-banner-text light-green-text text-accent-3 small-pad">Shayarana | A lover's melancholy</h1>
            <h5 class="col s12 light banner-text text-white">Shayarana is a place for lovers to philophise, lament and blush their feelings out. <br /> Join now to drink from the wine in the air.<br /> Let this moment not lose in the midst of busy city life.
            </h5>
        </div>
        <div class="col-md-12 col-sm-12 text-center padmini">
            <a href="../app_download/" id="download-button" class="btn-large waves-effect waves-light amber darken-3">Get Started</a>
        </div>
</div>

<div class="row">
  <div class="col-md-8 col-sm-6">
<h1>Add Posts</h1>
<%= form_for :post, url: posts_path do |f| %>
<p>
  <%= f.label :title %><br>
  <%= f.text_field :title %>
</p>

<p>
  <%= f.label :body %><br>
  <%= f.text_area :body %>
</p>

<p>
  <%= f.submit %>
</p>
<% end %>
</body>
</html>
