<!DOCTYPE html>
<html>
  <head>
    <title>Shayarana - The Shayar's Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag 'https://code.jquery.com/jquery-2.1.1.min.js', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'https://fonts.googleapis.com/css?family=Josefin+Slab|Raleway|Roboto' %>
  </head>
  <style>
       body {
           max-width: 100%;
           overflow-x: hidden;
       }

       html,
       body {
           height: 100%;
           margin: 0;
       }
   </style>
  <body>
    <nav class="transparent navbar-fixed-top" role="navigation">
        <div class="nav-wrapper container-fluid">

            <a id="logo-container" href="../" class="brand-logo text-left" style="text-decoration: none;"><%= image_tag("3452.png", width: '100px') %><span class="logo-text">Shayarana</span></a>

            <ul class="right hide-on-med-and-down">
                <li><a href="../">Home</a></li>
                <li><a href="#">Volunteer Now</a></li>
                <li><a href="../contact">Contact us</a></li>
            </ul>
        </div>
    </nav>
    <%= yield %>
    <%= javascript_include_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
